---
const { title, img, desc, url, badge, tags, target = '_blank' } = Astro.props;
import { Image, getImage } from 'astro:assets';
let image;
const width = 750;
const height = 422;
if (img) {
	image = await getImage({ src: img, width, height, format: 'webp', alt: title });
}
---

<style>
	.skeleton {
		display: none;
	}

	.is-loading img:not(.load-target) {
		display: none;
	}

	.is-loading .skeleton:not(.no-script) {
		display: block;
	}
	
</style>

<div class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]">
	<a href={url} target={target}>
		<div class="hero-content flex-col md:flex-row">
			<noscript>
				<Image src={img} alt={title} width={width} height={height} class="max-w-full md:max-w-[13rem] rounded-lg" />
			</noscript>
			{
				image && (
					<div class="max-w-full md:max-w-[13rem] rounded-lg is-loading no-script">
						<div class="skeleton h-32 w-screen max-w-full" style={{ aspectRatio: `${width}/${height}` }} />

						<img src={image.src} loading="lazy" decoding="async" class="load-target" width="1" height="1" />
						<img src={image.src} {...image.attributes} />
					</div>
				)
			}
			<div class="grow w-full">
				<h1 class="text-xl font-bold">
					{title}
					{badge && <div class="badge badge-secondary mx-2">{badge}</div>}
				</h1>
				{desc && ((Array.isArray(desc) && desc.map((d) => <p class="py-1 text-1xl">{d}</p>)) || <p class="py-1 text-1xl">{desc}</p>)}
				<div class="card-actions justify-end">
					{tags && tags.map((tag) => <div class="badge badge-outline">{tag}</div>)}
				</div>
			</div>
		</div>
	</a>
</div>

<script is:inline>

	window.handleNoScriptAndSkeletonsAndLoadTargets ??= () => {
		const noscript = document.querySelector('noscript');
		if (noscript) noscript.remove();

		const skeleton = document.querySelector('.skeleton');
		if (skeleton){
			skeleton.classList.remove('no-script');
		}

		document.querySelectorAll('.load-target').forEach((img) => {
			img.addEventListener('load', () => {
				if (!img.parentElement) return;
				img.parentElement.classList.remove('is-loading');
				img.remove();
			});
		});
	};

	handleNoScriptAndSkeletonsAndLoadTargets();
</script>
